apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patchesJson6902:
  - target:
      group: source.toolkit.fluxcd.io
      version: v1
      kind: GitRepository
      name: flux-system
    patch: |-
      - op: remove
        path: /spec/secretRef