apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-deployment
spec:
  replicas: 1
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels: {}
                topologyKey: "kubernetes.io/hostname"
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
      containers:
      - name: demo-app
        image: 488639172435.dkr.ecr.eu-central-1.amazonaws.com/demo-app
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
        ports:
        - containerPort: 8080
          name: http
        envFrom:
          - configMapRef:
              name: demo-app-config
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
        securityContext:
          capabilities:
            drop:
              - ALL
