apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base/demo-app
images:
- digest: sha256:04b515411fb70b3a812c085111e4de4028a86c034e461ecfb652ccfb4976c4a8
  name: 488639172435.dkr.ecr.eu-central-1.amazonaws.com/demo-app
replacements:
- source:
    fieldPath: spec.template.spec.containers.0.image
    kind: Deployment
    name: demo-app-deployment
  targets:
  - fieldPaths:
    - data.IMAGE_NAME
    select:
      kind: ConfigMap
      name: demo-app-config
labels:
- includeTemplates: true
  pairs:
    app.kubernetes.io/instance: production
