name: Demo-app PR Flow

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "demo-app/**"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and test demo-app image
    defaults:
      run:
        working-directory: demo-app
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache-dependency-path: demo-app/go.sum

      - name: Run vet
        run: go vet -v ./...

      - name: Run tests
        run: go test -v ./...

      - name: Build image
        id: image-build
        uses: docker/build-push-action@v6
        with:
          context: ./demo-app
